/* Start Variables */
:root {
    --main-color: #2ecc71;
    --main-color-alt: #288b51;
    --green-color: #33d1cc;
    --main-transtion: 0.5s;
    --main-padding-top: 100px;
    --main-padding-bottom: 100px;
    --section-background: #f9f9f9;
    --drak-color: #19283e;
    --green-color: #33d1cc;
    --red-color: #ff3150;
    --yellow-color: #ffc400;
    --section-color: #eff7fa;
}
/* End Variables */
/* Start Global Rules */
* {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}
html {
    scroll-behavior: smooth;
}
ul {
    list-style: none;
}
a {
    text-decoration: none;
}
body {
    font-family: 'Cairo', sans-serif;
}
.container {
    padding-left: 15px;
    padding-right: 15px;
    margin-left: auto;
    margin-right: auto;
}
/* Small */
@media (min-width:768px) {
    .container {
        width: 750px;
    }
}
/* Medium */
@media (min-width:992px) {
    .container {
        width: 970px;
    }
}
/* Large */
@media (min-width:1200px) {
    .container {
        width: 1170px;
    }
}
/* End Global Rules */
/* Start Contact-bar */
.contact-bar {
    padding: 15px 0;
    width: 100%;
    background-color: black;
    position: fixed;
    z-index: 10001;
}
@media (max-width:768px) {
    .contact-bar  {
        width: 750px;
    }
}

.contact-bar .container {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}
.contact-bar .container a {
    padding: 0 10px;
    color: white;
}
.contact-bar .container a i {
    padding-left: 5px;
}
.contact-bar .container .icons i {
    padding: 0 5px;
    color: white;
    transition: 0.5s;
}
.contact-bar .container .icons a:first-child i {
    color: #3270eb;
}
.contact-bar .container .icons a:nth-child(2) i {
    color: #f15c9a;
}
.contact-bar .container .icons a:nth-child(3) i {
    color: #25D366;
}
.contact-bar .container .icons a:last-child i {
    color: #1DA1F2;
}
/* End Contact-bar */
/* Start Viewing */
.viewing {
    height: calc(100vh - 48.39px);
    background: var(--drak-color);
    width: 100%;
    overflow: hidden;
    position: relative;
}
.viewing .wave {
    content: "";
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 100px;
    background: url(../imgs/wave.png);
    background-size: 1000px 100px;
}
.viewing .wave.wave1 {
    animation: animate 30s linear infinite;
    z-index: 1000;
    opacity: 1;
    animation-delay: 0s;
    bottom: 0;
}
.viewing .wave.wave2 {
    animation: animate2 15s linear infinite;
    z-index: 999;
    opacity: 0.5;
    animation-delay: -5s;
    bottom: 10px;
}
.viewing .wave.wave3 {
    animation: animate3 15s linear infinite;
    z-index: 998;
    opacity: 0.2;
    animation-delay: -2s;
    bottom: 15px;
}
.viewing .wave.wave4 {
    animation: animate4 5s linear infinite;
    z-index: 997;
    opacity: 0.7;
    animation-delay: -2s;
    bottom: 20px;
}
@keyframes animate {
    0% {
        background-position-x: 0px;
    }
    100% {
        background-position-x: 1000px;
    }
}
@keyframes animate2 {
    0% {
        background-position-x: 0px;
    }
    100% {
        background-position-x: -1000px;
    }
}
@keyframes animate3 {
    0% {
        background-position-x: 0px;
    }
    100% {
        background-position-x: -1000px;
    }
}
@keyframes animate4 {
    0% {
        background-position-x: 0px;
    }
    100% {
        background-position-x: -1000px;
    }
}
/* End Viewing */
/* Start Contant */
.con-contant {
    min-height: 50vh;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: white;
    padding-top: var(--main-padding-top);
    padding-bottom: var(--main-padding-bottom);

}
.con-contant .container {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(400px, 1fr));
    gap: 40px;
}
@media (max-width:768px) {
    .con-contant .container {
        grid-template-columns: repeat(auto-fill, minmax(350px, 1fr));
    }
}
.con-contant .container .contant {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
}
.con-contant .container .contant i {
    color: white;
    font-size: 25px;
    background-color: var(--green-color);
    padding: 18px;
    border-radius: 50%;
}
.con-contant .container .contant h1 {
    font-size: 30px;
    font-weight: bold;
    font-family: "El Messiri", serif;
    font-optical-sizing: auto;
    font-style: normal;
    color: var(--yellow-color);
}
.con-contant .container .contant p {
    font-size: 20px;
    font-family: "El Messiri", serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
}
/* End Contant */
/* Start Products */
.products {
    padding: var(--main-padding-top) 30px var(--main-padding-bottom);
    background-color: var(--section-color);
    direction: rtl;
}
.products .accordion {
    width: 100%;
}
.products .accordion li {
    width: 100%;
    margin: 20px 0;
    padding: 10px;
    border-radius: 8px;
    background: #e3edf7;
    box-shadow: 6px 6px 10px -1px rgba(0, 0, 0, 0.15),
    6px 6px 10px -1px rgba(255, 255, 255, 0.7);
}
.products .accordion li label {
    display: flex;
    align-items: center;
    padding: 10px;
    font-size: 18px;
    font-weight: 500;
    cursor: pointer;
}
.products .accordion li label::before {
    content: "+";
    margin-left: 10px;
    font-size: 24px;
    font-weight: bold;
}
.products .accordion li input[type="radio"] {
    display: none;
}
.products .accordion li .con {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    
}
.products .accordion li .con .product {
    max-height: 0;
    overflow: hidden;
    transition: max-height var(--main-transtion), padding var(--main-transtion);
}
.products .accordion li input[type="radio"]:checked + label + .con .product {
    max-height: 400px;
}
.products .accordion li .con .product {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    overflow: hidden;
    margin: 10px;
    border-radius: 15px;
    background-color: white;
    box-shadow: 6px 6px 10px -1px rgba(0, 0, 0, 0.15),
                6px 6px 10px -1px rgba(255, 255, 255, 0.7);
    transition: var(--main-transtion);
}
.products .accordion li .con .product:hover {
    box-shadow: 0px 0px 20px 1px #8094b2;
}
.products .accordion li .con .product .image {
    height: 50%;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}
.products .accordion li .con .product img {
    width: 200px;
    margin-bottom: 20px;
}
.products .accordion li .con .product .info {
    padding: 20px 0;
    width: 100%;
}
.products .accordion li .con .product h2 {
    padding: 20px 0;
    color: var(--yellow-color);
    font-size: 28px;
    background-color: var(--drak-color);
    font-family: "El Messiri", serif;
    font-optical-sizing: auto;
    font-style: normal;
}
.products .accordion li .con .product p {
    padding: 20px 20px;
    font-weight: bold;
    line-height: 1.6;
    font-family: "El Messiri", serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
}

/* End Products */
/* Start Discount */
.discount {
    display: flex;
    flex-wrap: wrap;
    min-height: 100vh;
}
@media (max-width: 992px) {
    .discount {
        padding-bottom: var(--main-padding-bottom);
    }
}
.discount .section-discount {
    flex-basis: 50%;
    background-image: url(../imgs/discount-background1.jpg);
    position: relative;
    z-index: 0;
    color: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
@media (max-width:991px) {
    .discount .section-discount {
        flex-basis: 100%;
    }
}
.discount .section-discount::after {
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: #19283efc;
    top: 0;
    right: 0;
    z-index: -1;
}
.discount .section-discount .content {
    text-align: center;
    padding: 20px auto;
}
.discount .section-discount .content h3 {
    font-size: 40px;
    letter-spacing: -2px;
    margin: 20px 0;
}
.discount .section-discount .content p {
    line-height: 1.6;
    font-size: 18px;
    max-width: 500px;
    margin: 25px 0;
}
.discount .section-discount img {
    width: 300px;
    max-width: 100%;
}
.discount .section-request {
    flex-basis: 50%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
@media (max-width:991px) {
    .discount .section-request {
        flex-basis: 100%;
    }
}
.discount .section-request .content form {
    display: flex;
    flex-direction: column;
}
.discount .section-request .content h3 {
    font-size: 40px;
    letter-spacing: -2px;
    margin: 20px 0;
}
.discount .section-request .content input:focus,
.discount .section-request .content textarea:focus {
    outline: none;
}
.discount .section-request .content input,
.discount .section-request .content textarea {
    background-color: #f9f9f9;
    border: none;
    border-bottom: 1px solid #ccc;
    margin: 15px 0;
    padding: 15px;
    caret-color: var(--main-color);
}
.discount .section-request .content textarea {
    height: 200px;
}
.discount .section-request .content input[type="submit"] {
    padding: 15px;
    background-color: var(--main-color);
    color: white;
    font-weight: bold;
    font-size: 20px;
    border: none;
    cursor: pointer;
    transition: var(--main-transtion);
}
.discount .section-request .content input[type="submit"]:hover {
    background-color: var(--main-color-alt);
}
/* End Discount */
/* Start Footer */
.footer {
    background-color: #191919;
    padding: 70px 0 0;
    direction: ltr;
    position: relative;
}
.footer .contact-us {
    position: absolute;
    width: 100%;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    font-size: 30px;
    top: 0;
    right: 50%;
    transform: translate(50%, -50%);
    transition: var(--main-transtion);
}
.footer button {
    border: none;
    background-color: transparent;
}
.footer .contact-us button a {
    padding: 30px 110px;
    border-radius: 100px;
    font-weight: bold;
    background: var(--drak-color);
    color: var(--yellow-color);
    box-shadow: 0px 0px 20px 0px;
    transition: var(--main-transtion);
}
@media (max-width:1200px) {
    .footer .contact-us {
        font-size: 22px;
    }
    .footer .contact-us button a {
        padding: 35px 100px;
    }
}
@media (max-width:992px) {
    .footer .contact-us {
        font-size: 22px;
    }
    .footer .contact-us button a {
        padding: 35px 70px;
    }
}
@media (max-width:768px) {
    .footer .contact-us {
        font-size: 13px;
    }
    .footer .contact-us button a {
        padding: 25px 25px;
    }
}
.footer button a:hover {
    box-shadow: 0px 0px 20px 8px;
    background: #101b2c;
}
.footer .container {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(400px, 1fr));
    gap: 40px;
}
.footer .container .information h3 {
    color: var(--yellow-color);
    font-size: 50px;
    margin: 0 0 20px;
}
.footer .container .information ul {
    display: flex
}
.footer .container .information ul li {
    margin-right: 10px;
}
.footer .container .information ul li a {
    background-color: #313131;
    color: #d7d7d7;
    display: inline-flex;
    width: 50px;
    height: 50px;
    font-size: 20px;
    transition: var(--main-transtion);
    align-items: center;
    justify-content: center;
}
.footer .container .information ul li:first-child a:hover {
    background-color: #1877f2;
}
.footer .container .information ul li:nth-child(2) a:hover {
    background-color: #14171A;
}
.footer .container .information ul li:nth-child(3) a:hover {
    background-color: #E1306C;
}
.footer .container .information ul li:nth-child(4) a:hover {
    background-color: #25D366;
}
.footer .container .information ul li:last-child a:hover {
    background-color: #1DA1F2;
}
.footer .container .information p {
    line-height: 2;
    color: #b9b9b9;
    margin: 10px 0;
}
.footer .container .links ul li {
    padding: 15px 0;
    transition: var(--main-transtion);
}
.footer .container .links ul li:not(:last-child) {
    border-bottom: 1px solid #444;
}
.footer .container .links ul li a {
    color: #b9b9b9;
    transition: var(--main-transtion);
}
.footer .container .links ul li a:hover {
    color: white;
    margin-left: 10px;
}
.footer .container .links ul li a::before {
    font-family: "Font Awesome 5 Free";
    content: "\F101";
    font-weight: 900;
    margin-right: 10px;
    color: var(--main-color);
}
.footer .container .contact .line {
    display: flex;
    align-items: center;
    color: #b9b9b9;
    margin-bottom: 30px;
}
.footer .container .contact .line a {
    color: #b9b9b9;
    display: flex;
    align-items: center;    
}
.footer .container .contact .line i {
    color: var(--yellow-color);
    font-size: 25px;
    margin-right: 10px;
}
.footer .copyright    {
    padding: 25px 0;
    text-align: center;
    color: white;
    margin: 50px 0 0;
    border-top: 1px solid #444;
}
/* End Footer */